.cea-json-editor {
  padding: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &__tool {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 9;
  }

  &__code {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
